{% extends "base.html" %}

{% block title %}
Dashboard | StudentOS
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h1 class="mb-4">Dashboard</h1>

    <div class="row g-4">

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5>Subjects</h5>
                    <h2>5</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5>Study Hours</h5>
                    <h2>0</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5>Tasks</h5>
                    <h2>0</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5>CGPA</h5>
                    <h2>0.00</h2>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}