{% extends "base.html" %}
{% from "components/dashboard_card_macro.html" import dashboard_card %}

{% block title %}
Dashboard | StudentOS
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="mb-5">

        <h1 class="display-5 fw-bold">
            Welcome Back 👋
        </h1>

        <p class="text-muted fs-5">
            Manage your studies, track your progress, and stay productive.
        </p>

    </div>

    <div class="row g-4">

        {{ dashboard_card(
        "bi-book",
        "text-primary",
        "Subjects",
        5,
        "Active this semester"
        ) }}

        {{ dashboard_card(
        "bi-clock-history",
        "text-success",
        "Study Hours",
        0,
        "Today's progress"
        ) }}

        {{ dashboard_card(
        "bi-list-check",
        "text-warning",
        "Tasks",
        0,
        "Pending tasks"
        ) }}

        {{ dashboard_card(
        "bi-mortarboard",
        "text-danger",
        "CGPA",
        "0.00",
        "Current CGPA"
        ) }}

    </div>

</div>

{% endblock %}