{% extends "base.html" %}
{% from "components/dashboard_card_macro.html" import dashboard_card %}

{% block title %}
Dashboard | StudentOS
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="mb-5">

        <h1 class="display-5 fw-bold">
            Welcome Back 👋
        </h1>

        {% if study_hours == 0 %}
        <p class="lead">
            Start your first Pomodoro today! 🚀
        </p>
        {% else %}
        <p class="lead">
            Great job! You've studied {{ study_hours }} hour(s) today. 🎉
        </p>
        {% endif %}

    </div>

    <div class="row g-4">

        {{ dashboard_card(
        "bi-book",
        "text-primary",
        "Subjects",
        subjects,
        "Active this semester"
        ) }}

        {{ dashboard_card(
        "bi-clock-history",
        "text-success",
        "Study Hours",
        study_hours,
        "Today's progress"
        ) }}

        {{ dashboard_card(
        "bi-list-check",
        "text-warning",
        "Tasks",
        tasks,
        "Pending tasks"
        ) }}

        {{ dashboard_card(
        "bi-mortarboard",
        "text-danger",
        "CGPA",
        cgpa,
        "Current CGPA"
        ) }}

    </div>
    <hr class="my-5">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Today's Study Tasks</h3>

        <a href="{{ url_for('main.add_task') }}" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i>
            Add Task
        </a>
    </div>

    <ul class="list-group mt-3">

        {% for task in study_tasks %}
        <li class="list-group-item">
            {{ task.title }}
        </li>
        {% endfor %}

    </ul>

</div>

{% endblock %}